

#fullbg { 
background-color:gray; 
left:0; 
opacity:0.5; 
position:absolute; 
top:0; 
z-index:3; 
filter:alpha(opacity=50); 
-moz-opacity:0.5; 
-khtml-opacity:0.5; 
} 
#dialog { 
background-color:#fff; 
border:5px solid rgba(0,0,0, 0.4); 
height:400px; 
left:50%; 
margin:-200px 0 0 -200px; 
padding:1px; 
position:fixed !important; /* 浮动对话框 */ 
position:absolute; 
top:50%; 
width:400px; 
z-index:5; 
border-radius:5px; 
display:none; 
} 
#dialog p { 
margin:0 0 12px; 
height:24px; 
line-height:24px; 
background:#CCCCCC; 
} 
#dialog p.close { 
text-align:right; 
padding-right:10px; 
} 

#dialog p.close a { 
color:#fff; 
font-family:"楷体";
text-decoration:none; 
} 
.topcolor{
	background-color:#06F
	}
.select{
     border-right: #000000 1px solid;
     border-top: #ffffff 1px solid;
     font-size: 12px;
     border-left: #ffffff 1px solid;
     color:#003366;
     border-bottom: #000000 1px solid;
     background-color: #f4f4f4;
}
.ziti{
	font-family:"楷体";
	}
.content{
	width:60%;
	}
.right{
	width:40%; height:auto;border 1px;
	}